@import "tailwindcss";

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  scroll-margin-top: 4.3rem;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  /* ABC-MARIST */
  @font-face {
    font-family: "ABC-marist-book";
    src: url("./fonts/ABCMarist-Book.woff2") format("woff2");
  }
  /* ABC-MARIST ITALIC */
  @font-face {
    font-family: "ABC-marist-book-italic";
    src: url("./fonts/ABCMarist-BookItalic.woff2") format("woff2");
  }
}

@theme {
  --font-abc-marist: "ABC-marist-book", "serif";
  --font-abc-marist-italic: "ABC-marist-book-italic", "serif";
}

html.lenis-smooth {
  scroll-behavior: auto !important;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}